@charset "UTF-8";

/*共通部分
=========================================================*/
html {
    font-size: 100%;
}
body {
    background: #fff;
    font-family: "Arial","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    line-height: 1.7;
    font-size: 0.875rem;
    color: #000;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
img {
    max-width: 100%;
}
/*
中身のコンテンツ幅を設定
*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}
/*HEADER
==================================================*/
#header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #fff;
    z-index: 10;
}
#header .logo {
    max-width: 150px;
    margin: 0 auto;
    margin-top: 10px;
}
#header .hamberger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 30;
}
#header .hamberger span {
    width: 30px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    left: 10px;
    transition: all 0.4s;
}
#header .hamberger span:nth-of-type(1) {
    top: 16px;
}
#header .hamberger span:nth-of-type(2) {
    top: 25px;
}
#header .hamberger span:nth-of-type(3) {
    top: 34px;
}
#header .main-nav {
    width: 80%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 20;
    transition: all 0.6s;
}
#header .main-nav .navi {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 60px 0;
    overflow: auto;
}
#header .main-nav .navi {
    padding: 10px 0;
    margin-left: 0;
}
#header .main-nav.active {
    right: 0;
}
#header .hamberger.active span:nth-of-type(1) {
    top: 24px;
    transform: rotate(-45deg);
}
#header .hamberger.active span:nth-of-type(2) {
    opacity: 0;
}
#header .hamberger.active span:nth-of-type(3) {
    top: 24px;
    transform: rotate(45deg);
}
#header .main-nav .navi {
    font-size: 1.5rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    color: #f4a460;
}
/*
MainVisual
=================================================*/
#main-visual {
    max-width: 100%;
}
/*Concept
==================================================*/
#concept {
    margin-top: 30px;
}
#concept h1 {
    text-align: center;
    font-size: 3.0rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    color: #f4a460;
}
#concept p {
    text-align: left;
    font-size: 1.0rem;
    font-weight: bold;
}
/*Menu
===================================================*/
#menu {
    margin-top: 30px;
}
#menu h1 {
    text-align: center;
    font-size: 3.0rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    color: #f4a460;
}
#menu .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#menu .menu .menu__item {
    width: 40%;
    margin: 0 5% 5% 0;
}
#menu .menu .menu__item .menu__item-image {
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px
}
#menu .menu .menu__item h2 {
    text-align: center;
    padding: 15px 0 0 15px;
    font-size: 1.25rem;
}
#menu .menu .menu__item p {
    text-align: left;
    margin: 15px 0 0 15px;
}
/*News
========================================*/
#news {
    margin-top: 30px;
}
#news h1 {
    text-align: center;
    font-size: 3.0rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    color: #f4a460;
}
#news dl {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#news dl dt {
    width: 100%;
    padding-top: 10px;
    }
#news dl dd {
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    }
/*Access
============================================*/
#access {
    margin-top: 30px;
}
#access h1 {
    text-align: center;
    font-size: 3.0rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    color: #f4a460;
}
#access p {
    text-align: center;
    font-size: 1.25rem;
}
#access .map iframe {
    width: 100%;
    height: 350px;
}
/*Contact
===========================================*/
#contact {
    margin-top: 30px;
}
#contact h1 {
    text-align: center;
    font-size: 3.0rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    color: #f4a460;
}
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type=email] {
    width: 100%;
    max-width: 300px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
#contact .submit {
    text-align: center;
}
input[type="submit"] {
    width: 150px;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #00bfff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.button:hover {
    opacity: 0.7;
}
/*Footer
================================================*/
#footer {
    margin-top:50px;
    background-color: #d3d3d3;
    display: flex;
    height: 10rem;
}
#footer .logo01 {
    width: 30%;
    padding-top: 50px;
}
#footer .footer-nav ul {
    display: flex;
}
#footer .footer-nav ul li {
    font-size: 1.125rem;
    margin: 5px;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    color: #f4a460;
}
#footer .footer-nav .sns-links {
    margin-left: 60px;
}
#footer .footer-nav .sns-links li {
    font-size: 3.0rem;
    color: #000;
}
/*ライセンス
==================================================*/
p {
    text-align: center;
}
/*DESKTOP-SIZE
=================================================*/
@media only screen and (min-width: 768px) {
/*Header-Large
=======================================================*/
    .hamberger {
    display: none;
    }
    #header {
            width: 100%;
            height: 60px;
            display: flex;
            position: static;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 0 20px;
    }
    #header .logo a {
        display: block;
    }
    #header .main-nav {
        position: static;
        width: 40%;
        height: 60px;
        }
    #header .main-nav .navi {
        display: flex;
        flex-direction: row;
    }
    #header .main-nav .navi li {
        font-size: 22px;
        margin-left: 60px;
    }
  /*MainVisual-Large
  =================================================================*/
  #main-visual .main-visual__item img {
        width: 100%;
        max-width: 1920px;
        height: 600px;
        object-fit: cover;
  }
  /*Concept-Large
  ====================================================================*/
  #concept {
        margin-top: 50px;
  }
  /*Menu-Large
  ======================================================================*/
  #menu {
        margin-top: 50px;
  }
  #menu .menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
  }
  #menu .menu .menu__item {
        width: 25%;
  }
  #menu .menu .menu__item .menu__item-image {
        margin-left: 60px;
  }
  #menu .menu .menu__item p {
        text-align: center;
  }
  /*News-Large
  ==================================================================*/
  #news dl dt,dd {
        text-align: center;
  }
/*Access-Large
====================================================================*/
#access .map iframe{
        width: 100%;
        max-width: 1920px;
}
/*Contact-Large
===================================================================*/
#contact {
        margin-top: 50px;
}   
#contact form div {
    text-align: center;
}
input[type="text"],
input[type=email] {
        width: 100%;
        max-width: 670px;
}
textarea {
        width: 100%;
        max-width: 770px;
}
/*Footer-Large
==================================================================*/
#footer {
    max-width: 1920px;
}
#footer .logo01 {
    width: 640px;
}
#footer .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer .footer-nav ul li {
    font-size: 40px;
}
}

